In [64]:
#import dependencies
import os
import pandas as pd
import requests
from sqlalchemy import create_engine
from config import pw

In [65]:
#load first CSV file and preview contents
csv_file = "accidents_2017.csv"
barcelona_df = pd.read_csv(csv_file)
barcelona_df=barcelona_df.sort_values("Id")
barcelona_df.head()

,Id,District Name,Neighborhood Name,Street,Weekday,Month,Day,Hour,Part of the day,Mild injuries,Serious injuries,Victims,Vehicles involved,Longitude,Latitude
872,2017S000001,Sarrià-Sant Gervasi,Sant Gervasi - Galvany,VIA AUGUSTA ...,Sunday,January,1,4,Night,1,0,1,1,2.151330,41.400771
3087,2017S000002,Eixample,el Fort Pienc,GV CORTS CATALANES ...,Sunday,January,1,2,Night,1,0,1,2,2.182376,41.399680
4930,2017S000003,Horta-Guinardó,el Baix Guinardó,RDA GUINARDÓ ...,Sunday,January,1,6,Morning,0,0,0,1,2.166464,41.412769
1585,2017S000004,Eixample,la Sagrada Família,BALMES / Rosselló ...,Sunday,January,1,7,Morning,1,0,1,2,2.157359,41.393310
9187,2017S000005,Sant Martí,el Parc i la Llacuna del Poblenou,PALLARS ...,Sunday,January,1,7,Morning,2,0,2,3,2.193249,41.397908

In [66]:
#Load second CSV file and preview contents
csv_file = "unemployment.csv"
unemployment_df = pd.read_csv(csv_file)
unemployment_df.head()

,Unnamed: 0,Unique_Id,DistrictName,Year,Month,NeighborhoodName,Demand_occupation,Number
0,0,0,Ciutat Vella,2017,January,el Raval,Registered unemployed,2107
1,1,1,Ciutat Vella,2017,January,el Barri Gòtic,Registered unemployed,538
2,2,2,Ciutat Vella,2017,January,la Barceloneta,Registered unemployed,537
3,3,3,Ciutat Vella,2017,January,"Sant Pere, Santa Caterina i la Ribera",Registered unemployed,741
4,4,4,Ciutat Vella,2017,January,el Raval,Unemployment demand,429

In [79]:
#Rename columns, insert serial ID column (for database key)
# accidents_table=accidents_table.drop(columns={'Street','Part of the day','Weekday','Longitude','Latitude','Id'})
accidents_table=accidents_table.rename(columns={'District Name':'DistrictName', 'Neighborhood Name':'NeighborhoodName', 'Mild Injuries':'MildInjuries', 'Serious Injuries':'SeriousInjuries', 'Vehicles Involved':'VehiclesInvolved'})

#comment out insert command below because it cannot be completed twice and will error

# accidents_table.insert(0, 'Unique_Id', range(0, 0 + len(accidents_table)))
accidents_table.head()

,Unique_Id,District_Id,DistrictName,NeighborhoodName,Month,Day,Hour,Mild injuries,Serious injuries,Victims,Vehicles involved
0,0,0,Ciutat Vella,el Raval,January,1,11,1,0,1,1
1,0,0,Ciutat Vella,el Barri Gòtic,January,2,19,1,0,1,4
2,0,0,Ciutat Vella,el Barri Gòtic,January,3,11,1,0,1,1
3,0,0,Ciutat Vella,el Raval,January,4,10,0,0,0,1
4,0,0,Ciutat Vella,la Barceloneta,January,6,23,1,0,1,2

In [80]:
#Rename columns, add serial ID column, drop unneeded column
# unemployment_table=unemployment_table.drop(columns={'District Code','Neighborhood Code','Gender'})
unemployment_table=unemployment_table.replace({'No consta':'Unknown'})
unemployment_table=unemployment_table.rename(columns={'District Name': 'DistrictName','Neighborhood Name':'NeighborhoodName'})

#comment out insert command below because it will error if attempted more than once

# unemployment_table.insert(0, 'Unique_Id', range(0, 0 + len(unemployment_table)))
unemployment_table.head()

,Unique_Id,DistrictName,Year,Month,NeighborhoodName,Demand_occupation,Number
0,0,Ciutat Vella,2017,January,el Raval,Registered unemployed,2107
1,1,Ciutat Vella,2017,January,el Barri Gòtic,Registered unemployed,538
2,2,Ciutat Vella,2017,January,la Barceloneta,Registered unemployed,537
3,3,Ciutat Vella,2017,January,"Sant Pere, Santa Caterina i la Ribera",Registered unemployed,741
4,4,Ciutat Vella,2017,January,el Raval,Unemployment demand,429

In [ ]:
#Create database connection
engine = create_engine(f"postgresql://postgres:"+pw+"@localhost:5432/barcelona_db")
conn = engine.connect()

In [46]:
#Show existing table names
engine.table_names()

['unemployment_table', 'accidents_table']

In [59]:
#Send tables to SQL database
accidents_table.to_sql(name='accidents_table', con=engine, if_exists='append', index=False)
unemployment_table.to_sql(name='unemployment_table', con=engine, if_exists='append', index=False)

In [57]:
#Create CSV of cleaned tables
accidents_table.to_csv("accidents.csv")
unemployment_table.to_csv("unemployment.csv")